@tailwind base;
@tailwind components;
@tailwind utilities;

.drawer-side a.active {
  color: white;
}
.drawer-side a {
  background-color: transparent;
}

.swal2-title {
  text-transform: capitalize !important;
}
